<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.aayush.geeta">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.application.aayush.geeta.ThirdScreen" />
        </activity>

        <activity android:name=".FirstScreen" />
        <activity android:name=".SecondScreen" />
        <activity
            android:name=".ThirdScreen"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignUp"
            android:parentActivityName=".MyProfile" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MyProfile"
            android:parentActivityName=".ThirdScreen" />
        <!-- The meta-data element is needed for versions lower than 4.1 -->
        <activity android:name=".MyRating" />
        <activity android:name=".NotificationActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".UserMenu" />
        <activity
            android:name=".SetReminder"
            android:parentActivityName=".UserMenu" />
        <activity android:name=".Ringtone" />
        <activity android:name=".AlarmSound" />
        <activity android:name=".UserNote"
            android:parentActivityName=".UserMenu"/>
        <activity
            android:name=".UserMenu"
            android:label="@string/title_activity_user_menu"
            android:theme="@style/AppTheme" />
        <receiver android:name=".MySMSBroadCastReceiver" >
            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <service
            android:name=".RingtonePlayService"
            android:enabled="true" />
        <receiver android:name=".AlarmReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </receiver>
        <receiver android:name=".AlertReceiver" />
        <service
            android:name=".AlarmService"
            android:enabled="true" />

    </application>

</manifest>